/* ========== GLOBAL ========== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("a.jpeg") center / cover no-repeat;
  display: flex;
  justify-content: right;
  align-items: right
  ;
 
  min-height: 100vh;
  color: #fff;
}

/* ========== LOGIN BOX ========== */
.login-box {
  opacity: 1; 
  position: relative;

    /* margin-left: 251px;; */
  width: 300px;
  text-align: right;
  padding: 30px;
  border-radius: 12px;
  /* background: rgba(0, 0, 0, 0.45); */
  background-color: transparent;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
  backdrop-filter: blur(6px);
}

.login-box:hover {
  transform: translateX(10px) scale(1.02);
  box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600; 
  color: #2563eb;
}

/* ========== INPUTS ========== */
.email,
.password-box {
  margin-bottom: 18px;
}

input {
  width: 93%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.15);
  color: #fff;
  font-size: 15px;
   font-weight: 700;  
  outline: none;
}

input::placeholder {
  color: #194fa1;
font-weight: 300  ;
}

input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.45);
  background: rgba(255,255,255,0.2);
}

/* ========== PASSWORD EYE ICON ========== */
.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  cursor: pointer;
  opacity: 0.8;
}

.password-box span:hover {
  opacity: 1;
}

/* ========== BUTTON ========== */
button {
  width: 150px;
  padding: 12px;
  margin-top: 25px;
  /* background: #2563eb; */
  background-color: rgb(172, 164, 164);
  color: #2563eb;
  border: none;
   font-weight: 700;  
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {  
    background-color:#2563eb ;
    color: #dddee0;
    font-weight: 400  ;

   

}

/* ========== OTP SECTION ========== */
#otpSection {
  display: none;
  margin-top: 20px;
}

/* ========== POPUP ========== */
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #16a34a;
  padding: 14px 22px;
  border-radius: 6px;
  display: none;
  font-size: 14px;
}
