<!DOCTYPE html>
<html>
<head>
<title>Attendance</title>
<style>
body{font-family:Arial;background:#eef1f5}
.box{padding:30px}
.card{background:white;padding:20px;border-radius:10px;width:400px}
button{background:#0b5ed7;color:white;border:none;padding:10px 15px;border-radius:6px}
</style>
</head>

<body>
<div class="box">
<div class="card">
<h3>Mark Attendance</h3>
<form method="post">
Employee Name:<br>
<input name="name" style="width:100%;padding:8px"><br><br>
<button>Mark Present</button>
</form>

<h4>Today Attendance</h4>
{% for i in data %}
{{i}} present<br>
{% endfor %}

<br>
<a href="/admin">Back</a>
</div>
</div>
</body>
</html>
